@charset "utf-8";
/* CSS Document */

body{
background-image:url(gluten-warning.jpg);
font-family:Comic Sans MS, Comic Sans;
color:#00000;
text-align:center;
}

marquee{
color:#006600;
}

a:link, a:visited{
color:#FFFFFF;
}
a:hover{
font-weight:bold;
}